$tiltAmount: 35deg;
$pDistance: 40em;


@import '_mixins';
@import 'kf_animations';

body {
  margin:0px;
  padding:0px;
  text-align:center;
  background: #333;
  overflow: hidden;
}

.gameframe {
  @include perspective($pDistance);
  
  background: url(assets/backdrop.png);
  background-size: 100% 30%;
  background-repeat: no-repeat; 
  
  
  width: 100%;
  height: 100%;
  position: relative;
  
}


.board {
  padding-top:10%;
  width:80%;
  height:70%;
  margin: auto;
  overflow: hidden;
  position: relative;
  @include transition(transform 3s);
  @include transform(rotateX(0deg));   
  
}

.lane {
  position: relative;
  clear: left;
  width: 100%;
  height: 10%;
  position: relative;
  
  @include perspective($pDistance);   
}

.lanecontent {
  position: absolute;
  width: 1000%;
  overflow:hidden;
  display: block;
  text-align:left;
  @include transition(transform 3s, top 3s, height 3s);
}

.gameframe.inplay 
{
  .board
  {
    @include transform(rotateX($tiltAmount));   
  }
  
  .lanecontent
   {
    height: 200%;  
    top: -80%;    
    @include transform(rotateX(-$tiltAmount));   
  }
  
  .lanecontent.ytriple
   {
    height: 400%;  
    top: -240%;
  }
  
}

.gameframe {
  .lanecontent
  {
    height: 150%;  
    top: -50%;    
    @include transform(rotateX(0deg));   
  }
  
  .lanecontent.ytriple
  {
	height: 300%;  
	top: -200%;      
  }  
}


.lanecontent span {
  position: relative;
  font-size: 0px;
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}



.lanecontent .bus {
  width: 2%;   
  background: url(assets/bus-r.png);
  background-size: 100% 100%;
  @include animation(wiggle .5s ease infinite); 
}


.lanecontent .omosign {
  background: url(assets/omo.png);
  
  background-size: 100% 100%;
  width: 1%;      
  height: 80%;
}

.lanecontent .shack {
  background: url(assets/shack.png);
  
  background-size: 100% 100%;
  width: 2%;      
  height: 100%;
}

.lanecontent .palm {
  background: url(assets/palm.png);  
  background-size: 100% 100%;
  width: 1%;      
  height: 100%;
}

.lanecontent .taxi {
   background: #FF0;   
   width: 1%;
   height: 70%;
   background: url(assets/taxi-r.png);
   background-size: 100% 100%;
   @include animation(swerve 2s ease infinite) ; 
   top: 0px;   
  }


.gap {
  width: .5%;
}

.gap4 {
  width: 2%;
}


.lane {
  background: grey url(assets/lane.png) 0 0 repeat-x;
  background-size: contain;
  position: relative;
  overflow: visible;
}

.edge {
  background: brown url(assets/mud.png) 0 0 repeat-x;
  background-size: cover;
}


.divider {
  background: green url(assets/grass.png) 0 0 repeat-x;
  background-size: cover;
}

.level {
  display: none;
}