@-webkit-keyframes wiggle {
  25% {
    transform: rotate(2deg) scaleX(1.01); }

  50% {
    transform: rotate(0deg) scaleX(0.99); }

  75% {
    transform: rotate(-2deg) scaleX(1.01); } }
@-moz-keyframes wiggle {
  25% {
    transform: rotate(2deg) scaleX(1.01); }

  50% {
    transform: rotate(0deg) scaleX(0.99); }

  75% {
    transform: rotate(-2deg) scaleX(1.01); } }
@-o-keyframes wiggle {
  25% {
    transform: rotate(2deg) scaleX(1.01); }

  50% {
    transform: rotate(0deg) scaleX(0.99); }

  75% {
    transform: rotate(-2deg) scaleX(1.01); } }
@keyframes wiggle {
  25% {
    transform: rotate(2deg) scaleX(1.01); }

  50% {
    transform: rotate(0deg) scaleX(0.99); }

  75% {
    transform: rotate(-2deg) scaleX(1.01); } }
@-webkit-keyframes swerve {
  25% {
    top: -15px; }

  90% {
    top: 5px; } }
@-moz-keyframes swerve {
  25% {
    top: -15px; }

  90% {
    top: 5px; } }
@-o-keyframes swerve {
  25% {
    top: -15px; }

  90% {
    top: 5px; } }
@keyframes swerve {
  25% {
    top: -15px; }

  90% {
    top: 5px; } }
body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: #333;
  overflow: hidden; }

.gameframe {
  perspective: 40em;
  -moz-perspective: 40em;
  -webkit-perspective: 40em;
  background: url(assets/backdrop.png);
  background-size: 100% 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative; }

.board {
  padding-top: 10%;
  width: 80%;
  height: 70%;
  margin: auto;
  overflow: hidden;
  position: relative;
  transition: transform 3s;
  -webkit-transition: transform 3s;
  -moz-transition: transform 3s;
  -o-transition: transform 3s;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg); }

.lane {
  position: relative;
  clear: left;
  width: 100%;
  height: 10%;
  position: relative;
  perspective: 40em;
  -moz-perspective: 40em;
  -webkit-perspective: 40em; }

.lanecontent {
  position: absolute;
  width: 1000%;
  overflow: hidden;
  display: block;
  text-align: left;
  transition: transform 3s, top 3s, height 3s;
  -webkit-transition: transform 3s, top 3s, height 3s;
  -moz-transition: transform 3s, top 3s, height 3s;
  -o-transition: transform 3s, top 3s, height 3s; }

.gameframe.inplay .board {
  transform: rotateX(35deg);
  -webkit-transform: rotateX(35deg);
  -moz-transform: rotateX(35deg);
  -ms-transform: rotateX(35deg); }
.gameframe.inplay .lanecontent {
  height: 200%;
  top: -80%;
  transform: rotateX(-35deg);
  -webkit-transform: rotateX(-35deg);
  -moz-transform: rotateX(-35deg);
  -ms-transform: rotateX(-35deg); }
.gameframe.inplay .lanecontent.ytriple {
  height: 400%;
  top: -240%; }

.gameframe .lanecontent {
  height: 150%;
  top: -50%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg); }
.gameframe .lanecontent.ytriple {
  height: 300%;
  top: -200%; }

.lanecontent span {
  position: relative;
  font-size: 0px;
  display: inline-block;
  height: 100%;
  vertical-align: bottom; }

.lanecontent .bus {
  width: 2%;
  background: url(assets/bus-r.png);
  background-size: 100% 100%;
  -webkit-animation: wiggle 0.5s ease infinite;
  -moz-animation: wiggle 0.5s ease infinite;
  -o-animation: wiggle 0.5s ease infinite;
  animation: wiggle 0.5s ease infinite; }

.lanecontent .omosign {
  background: url(assets/omo.png);
  background-size: 100% 100%;
  width: 1%;
  height: 80%; }

.lanecontent .shack {
  background: url(assets/shack.png);
  background-size: 100% 100%;
  width: 2%;
  height: 100%; }

.lanecontent .palm {
  background: url(assets/palm.png);
  background-size: 100% 100%;
  width: 1%;
  height: 100%; }

.lanecontent .taxi {
  background: #FF0;
  width: 1%;
  height: 70%;
  background: url(assets/taxi-r.png);
  background-size: 100% 100%;
  -webkit-animation: swerve 2s ease infinite;
  -moz-animation: swerve 2s ease infinite;
  -o-animation: swerve 2s ease infinite;
  animation: swerve 2s ease infinite;
  top: 0px; }

.gap {
  width: .5%; }

.gap4 {
  width: 2%; }

.lane {
  background: gray url(assets/lane.png) 0 0 repeat-x;
  background-size: contain;
  position: relative;
  overflow: visible; }

.edge {
  background: brown url(assets/mud.png) 0 0 repeat-x;
  background-size: cover; }

.divider {
  background: green url(assets/grass.png) 0 0 repeat-x;
  background-size: cover; }

.level {
  display: none; }
